* {
  font-family: sans-serif;
}
html, body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	min-width: 360px;
}

#logo {
	text-align: center;
	margin: 19px 0;
	padding: 0;
}
.navbar {
  background-color: #e7e4e4;
  width: 100%;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.navbar li {
  float: left;
  position: relative;
  width: 33%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar a {
  text-decoration: none;
  color: #5f6061;
  font-size: 1.1em;
  display: block;
  padding: 12px 10px;
  font-weight: bold;
}
.navbar a:hover {
  background-color: yellow;
}
.navbar li.bor-right:after {
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 25%;
  width  : 1px;
  height   : 50%;  /* or 100px */
  background: #ccc;
}
.search-dropdown-content {
  margin: 0;
  padding: 10px 15px;
}

.search-dropdown-content h2 {
  font-size: 1.1em;
  color: #37383a;
}
.search-dropdown-content select {
  padding: 5px 2px;
  font-size: 0.9em;
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
}
.search-dropdown-content select,
.search-dropdown-content #searchBy {
  margin: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-appearance:none;
  -webkit-appearance: none;
  appearance: none;
}

/*CHANGE ARROW FOR CROSS BROWSER */
.changeDownArrow {
  position: relative;
}
.changeDownArrow select {
  background: transparent;
}
.changeDownArrow::after {
  content: "\f0d7";
  font-family: "FontAwesome";
  position: absolute;
  top:calc(50% - 16.5px);
  right: 10px;
  z-index: -1;
}
select::-ms-expand {
  display: none;
}
/* -------------------- */

#searchBy {
  border: 1px solid #aaa;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.searchBy {
  font-size: 0.8em;
  float: left;
  padding: 2px 0;
}
#cashMonthly {
  float: left;
  font-size: 0.9em;
  margin-bottom: 15px;
  padding-right: 40px;
}
.priceSearch {
  clear: both;
  width: 49%;
  display: inline-block;
}
