* {
  font-family: sans-serif;
  outline: 0;
}
html, body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	min-width: 360px;
}

#logo {
	text-align: center;
	margin: 19px 0;
	padding: 0;
}
.navbar {
  background-color: #e7e4e4;
  width: 100%;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.navbar li {
  float: left;
  position: relative;
  width: 33%;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar a {
  text-decoration: none;
  color: #5f6061;
  font-size: 1.1em;
  display: block;
  padding: 12px 10px;
  font-weight: bold;
}
.navbar li.bor-right:after {
  content : "";
  position: absolute;
  right    : 0;
  z-index: 100;
  top  : 25%;
  width  : 1px;
  height   : 50%;  /* or 100px */
  background: #ccc;
}
.search-dropdown-content {
  margin: 0;
  padding: 10px 15px;
  display: none;
}

.search-dropdown-content h2 {
  font-size: 1.1em;
  color: #37383a;
}
.search-dropdown-content select {
  padding: 5px 0px 5px 2px;
  font-size: 0.9em;
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
}
.search-dropdown-content select,
.search-dropdown-content #searchBy {
  margin: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  -moz-appearance:none;
  -webkit-appearance: none;
  appearance: none;
}

/*CHANGE ARROW FOR CROSS BROWSER */
.changeDownArrow {
  position: relative;
}
.changeDownArrow select {
  background: transparent;
}
.changeDownArrow::after {
  content: "\f0d7";
  font-family: "FontAwesome";
  position: absolute;
  top:calc(50% - 24px);
  right: 0px;
  z-index: -1;
  padding: 7px;
  background-color: #eee;
  border-radius: 0 5px 5px 0;
}
select::-ms-expand {
  display: none;
}
/* -------------------- */

#searchBy {
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
}
.searchBy {
  font-size: 0.8em;
  float: left;
  padding: 2px 5px 15px 0;
  display: block;
}
#cashMonthly {
  float: left;
  font-size: 0.9em;
  padding-bottom: 15px;
  padding-right: 60px;
  display: block;
}
#priceDiv {
  clear: both;
}
.priceSearch {
  clear: both;
  width: 49%;
  display: inline-block;

}
#cashPrice {
  vertical-align: top;
  padding-right: 5px;
}
#monthlyPrice {
  padding-left: 5px;
  vertical-align: top;
}

/* ROUNDED SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------- */

.postcodeSearch {
  clear: both;
  width: 45%;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.9rem;
}
#postcode {
  border: 1px solid #aaa;
  padding: 5px 10px;
  margin-right: 5px;
}

#search-button {
  width: 100%;
  color: #fff;
  background-color: #03b075;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  margin-top: 15px;
  transition: background-color 0.25s ease;
}
#search-button h1 {
  margin: 0;
}

/* MENU MOBILE DROPDOWN */
#menuDiv {
  margin: 0;
  padding: 0 16px;
  background-color: #f0f2f3;
  color: #37383a;
}
#menuDiv h2 {
  margin: 0;
}
#menuDiv ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font-size: 0.7rem;
  border-bottom: 1px solid #ccc;
}
#menuDiv i {
  font-size: 1rem;
}

/* -------------------- */
